@tailwind base;
:root {

    /** font */
    --font-display: cursive;
    --font-body: sans-serif;

    /** background Colors */

    --color-bg-white: #ffffff;

    --color-bg-gray-50: #F9FAFB;
    --color-bg-gray-100: #F3F4F6;
    --color-bg-gray-200: #E5E7EB;
    --color-bg-gray-300: #D1D5DB;
    --color-bg-gray-400: #9CA3AF;
    --color-bg-gray-500: #6B7280;
    --color-bg-gray-600: #4B5563;
    --color-bg-gray-700: #374151;
    --color-bg-gray-800: #1F2937;
    --color-bg-gray-900: #111827;

    --color-bg-red-50: #FEF2F2;
    --color-bg-red-100: #FEE2E2;
    --color-bg-red-200: #FECACA;
    --color-bg-red-300: #FCA5A5;
    --color-bg-red-400: #F87171;
    --color-bg-red-500: #EF4444;
    --color-bg-red-600: #DC2626;
    --color-bg-red-700: #B91C1C;
    --color-bg-red-800: #991B1B;
    --color-bg-red-900: #7F1D1D;

    --color-bg-yellow-50: #FFFBEB;
    --color-bg-yellow-100: #FEF3C7;
    --color-bg-yellow-200: #FDE68A;
    --color-bg-yellow-300: #FCD34D;
    --color-bg-yellow-400: #FBBF24;
    --color-bg-yellow-500: #F59E0B;
    --color-bg-yellow-600: #D97706;
    --color-bg-yellow-700: #B45309;
    --color-bg-yellow-800: #92400E;
    --color-bg-yellow-900: #78350F;

    --color-bg-green-50: #ECFDF5;
    --color-bg-green-100: #D1FAE5;
    --color-bg-green-200: #A7F3D0;
    --color-bg-green-300: #6EE7B7;
    --color-bg-green-400: #34D399;
    --color-bg-green-500: #10B981;
    --color-bg-green-600: #059669;
    --color-bg-green-700: #047857;
    --color-bg-green-800: #065F46;
    --color-bg-green-900: #064E3B;

    --color-bg-blue-50: #EFF6FF;
    --color-bg-blue-100: #DBEAFE;
    --color-bg-blue-200: #BFDBFE;
    --color-bg-blue-300: #93C5FD;
    --color-bg-blue-400: #60A5FA;
    --color-bg-blue-500: #3B82F6;
    --color-bg-blue-600: #2563EB;
    --color-bg-blue-700: #1D4ED8;
    --color-bg-blue-800: #1E40AF;
    --color-bg-blue-900: #1E3A8A;

    --color-bg-indigo-50: #EEF2FF;
    --color-bg-indigo-100: #E0E7FF;
    --color-bg-indigo-200: #C7D2FE;
    --color-bg-indigo-300: #A5B4FC;
    --color-bg-indigo-400: #818CF8;
    --color-bg-indigo-500: #6366F1;
    --color-bg-indigo-600: #4F46E5;
    --color-bg-indigo-700: #4338CA;
    --color-bg-indigo-800: #3730A3;
    --color-bg-indigo-900: #312E81;

    --color-bg-purple-50: #F5F3FF;
    --color-bg-purple-100: #EDE9FE;
    --color-bg-purple-200: #DDD6FE;
    --color-bg-purple-300: #C4B5FD;
    --color-bg-purple-400: #A78BFA;
    --color-bg-purple-500: #8B5CF6;
    --color-bg-purple-600: #7C3AED;
    --color-bg-purple-700: #6D28D9;
    --color-bg-purple-800: #5B21B6;
    --color-bg-purple-900: #4C1D95;

    --color-bg-pink-50: #FDF2F8;
    --color-bg-pink-100: #FCE7F3;
    --color-bg-pink-200: #FBCFE8;
    --color-bg-pink-300: #F9A8D4;
    --color-bg-pink-400: #F472B6;
    --color-bg-pink-500: #EC4899;
    --color-bg-pink-600: #DB2777;
    --color-bg-pink-700: #BE185D;
    --color-bg-pink-800: #9D174D;
    --color-bg-pink-900: #831843;

    /** text Colors */
    --color-text-black: #000000;
    --color-text-white: #ffffff;

    --color-text-gray-50: #F9FAFB;
    --color-text-gray-100: #F3F4F6;
    --color-text-gray-200: #E5E7EB;
    --color-text-gray-300: #D1D5DB;
    --color-text-gray-400: #9CA3AF;
    --color-text-gray-500: #6B7280;
    --color-text-gray-600: #4B5563;
    --color-text-gray-700: #374151;
    --color-text-gray-800: #1F2937;
    --color-text-gray-900: #111827;

    --color-text-red-50: #FEF2F2;
    --color-text-red-100: #FEE2E2;
    --color-text-red-200: #FECACA;
    --color-text-red-300: #FCA5A5;
    --color-text-red-400: #F87171;
    --color-text-red-500: #EF4444;
    --color-text-red-600: #DC2626;
    --color-text-red-700: #B91C1C;
    --color-text-red-800: #991B1B;
    --color-text-red-900: #7F1D1D;

    --color-text-yellow-50: #FFFBEB;
    --color-text-yellow-100: #FEF3C7;
    --color-text-yellow-200: #FDE68A;
    --color-text-yellow-300: #FCD34D;
    --color-text-yellow-400: #FBBF24;
    --color-text-yellow-500: #F59E0B;
    --color-text-yellow-600: #D97706;
    --color-text-yellow-700: #B45309;
    --color-text-yellow-800: #92400E;
    --color-text-yellow-900: #78350F;

    --color-text-green-50: #ECFDF5;
    --color-text-green-100: #D1FAE5;
    --color-text-green-200: #A7F3D0;
    --color-text-green-300: #6EE7B7;
    --color-text-green-400: #34D399;
    --color-text-green-500: #10B981;
    --color-text-green-600: #059669;
    --color-text-green-700: #047857;
    --color-text-green-800: #065F46;
    --color-text-green-900: #064E3B;

    --color-text-blue-50: #EFF6FF;
    --color-text-blue-100: #DBEAFE;
    --color-text-blue-200: #BFDBFE;
    --color-text-blue-300: #93C5FD;
    --color-text-blue-400: #60A5FA;
    --color-text-blue-500: #3B82F6;
    --color-text-blue-600: #2563EB;
    --color-text-blue-700: #1D4ED8;
    --color-text-blue-800: #1E40AF;
    --color-text-blue-900: #1E3A8A;

    --color-text-indigo-50: #EEF2FF;
    --color-text-indigo-100: #E0E7FF;
    --color-text-indigo-200: #C7D2FE;
    --color-text-indigo-300: #A5B4FC;
    --color-text-indigo-400: #818CF8;
    --color-text-indigo-500: #6366F1;
    --color-text-indigo-600: #4F46E5;
    --color-text-indigo-700: #4338CA;
    --color-text-indigo-800: #3730A3;
    --color-text-indigo-900: #312E81;

    --color-text-purple-50: #F5F3FF;
    --color-text-purple-100: #EDE9FE;
    --color-text-purple-200: #DDD6FE;
    --color-text-purple-300: #C4B5FD;
    --color-text-purple-400: #A78BFA;
    --color-text-purple-500: #8B5CF6;
    --color-text-purple-600: #7C3AED;
    --color-text-purple-700: #6D28D9;
    --color-text-purple-800: #5B21B6;
    --color-text-purple-900: #4C1D95;

    --color-text-pink-50: #FDF2F8;
    --color-text-pink-100: #FCE7F3;
    --color-text-pink-200: #FBCFE8;
    --color-text-pink-300: #F9A8D4;
    --color-text-pink-400: #F472B6;
    --color-text-pink-500: #EC4899;
    --color-text-pink-600: #DB2777;
    --color-text-pink-700: #BE185D;
    --color-text-pink-800: #9D174D;
    --color-text-pink-900: #831843;

    /** border radius */
    --border-radius-none: 0;
    --border-radius-sm: 0.125rem;
    --border-radius: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 0.75rem;
    --border-radius-2xl: 1rem;
    --border-radius-3xl: 1.5rem;
    --border-radius-full: 9999px;
}


/** purgecss start ignore */

.theme-dark {
    /** fonts */
    --font-display: monospace;
    --font-body: Roboto;

    /** background Colors */

    --color-bg-white: #374151;

    --color-bg-gray-50: #F9FAFB;
    --color-bg-gray-100: #1F2937;
    --color-bg-gray-200: #4B5563;
    --color-bg-gray-300: #D1D5DB;
    --color-bg-gray-400: #9CA3AF;
    --color-bg-gray-500: #6B7280;
    --color-bg-gray-600: #4B5563;
    --color-bg-gray-700: #374151;
    --color-bg-gray-800: #1F2937;
    --color-bg-gray-900: #111827;

    --color-bg-red-50: #FEF2F2;
    --color-bg-red-100: #FEE2E2;
    --color-bg-red-200: #FECACA;
    --color-bg-red-300: #FCA5A5;
    --color-bg-red-400: #F87171;
    --color-bg-red-500: #EF4444;
    --color-bg-red-600: #DC2626;
    --color-bg-red-700: #B91C1C;
    --color-bg-red-800: #991B1B;
    --color-bg-red-900: #7F1D1D;

    --color-bg-yellow-50: #FFFBEB;
    --color-bg-yellow-100: #FEF3C7;
    --color-bg-yellow-200: #FDE68A;
    --color-bg-yellow-300: #FCD34D;
    --color-bg-yellow-400: #FBBF24;
    --color-bg-yellow-500: #F59E0B;
    --color-bg-yellow-600: #D97706;
    --color-bg-yellow-700: #B45309;
    --color-bg-yellow-800: #92400E;
    --color-bg-yellow-900: #78350F;

    --color-bg-green-50: #ECFDF5;
    --color-bg-green-100: #D1FAE5;
    --color-bg-green-200: #A7F3D0;
    --color-bg-green-300: #6EE7B7;
    --color-bg-green-400: #34D399;
    --color-bg-green-500: #10B981;
    --color-bg-green-600: #059669;
    --color-bg-green-700: #047857;
    --color-bg-green-800: #065F46;
    --color-bg-green-900: #064E3B;

    --color-bg-blue-50: #EFF6FF;
    --color-bg-blue-100: #DBEAFE;
    --color-bg-blue-200: #BFDBFE;
    --color-bg-blue-300: #93C5FD;
    --color-bg-blue-400: #60A5FA;
    --color-bg-blue-500: #3B82F6;
    --color-bg-blue-600: #2563EB;
    --color-bg-blue-700: #1D4ED8;
    --color-bg-blue-800: #1E40AF;
    --color-bg-blue-900: #1E3A8A;

    --color-bg-indigo-50: #EEF2FF;
    --color-bg-indigo-100: #E0E7FF;
    --color-bg-indigo-200: #C7D2FE;
    --color-bg-indigo-300: #A5B4FC;
    --color-bg-indigo-400: #818CF8;
    --color-bg-indigo-500: #6366F1;
    --color-bg-indigo-600: #4F46E5;
    --color-bg-indigo-700: #4338CA;
    --color-bg-indigo-800: #3730A3;
    --color-bg-indigo-900: #312E81;

    --color-bg-purple-50: #F5F3FF;
    --color-bg-purple-100: #EDE9FE;
    --color-bg-purple-200: #DDD6FE;
    --color-bg-purple-300: #C4B5FD;
    --color-bg-purple-400: #A78BFA;
    --color-bg-purple-500: #8B5CF6;
    --color-bg-purple-600: #7C3AED;
    --color-bg-purple-700: #6D28D9;
    --color-bg-purple-800: #5B21B6;
    --color-bg-purple-900: #4C1D95;

    --color-bg-pink-50: #FDF2F8;
    --color-bg-pink-100: #FCE7F3;
    --color-bg-pink-200: #FBCFE8;
    --color-bg-pink-300: #F9A8D4;
    --color-bg-pink-400: #F472B6;
    --color-bg-pink-500: #EC4899;
    --color-bg-pink-600: #DB2777;
    --color-bg-pink-700: #BE185D;
    --color-bg-pink-800: #9D174D;
    --color-bg-pink-900: #831843;

    /** text Colors */

    --color-text-black: #ffffff;
    --color-text-white: #000000;

    --color-text-gray-50: #F9FAFB;
    --color-text-gray-100: #F3F4F6;
    --color-text-gray-200: #E5E7EB;
    --color-text-gray-300: #D1D5DB;
    --color-text-gray-400: #9CA3AF;
    --color-text-gray-500: #6B7280;
    --color-text-gray-600: #9CA3AF;
    --color-text-gray-700: #374151;
    --color-text-gray-800: #F3F4F6;
    --color-text-gray-900: #111827;

    --color-text-red-50: #FEF2F2;
    --color-text-red-100: #FEE2E2;
    --color-text-red-200: #FECACA;
    --color-text-red-300: #FCA5A5;
    --color-text-red-400: #F87171;
    --color-text-red-500: #EF4444;
    --color-text-red-600: #DC2626;
    --color-text-red-700: #B91C1C;
    --color-text-red-800: #991B1B;
    --color-text-red-900: #7F1D1D;

    --color-text-yellow-50: #FFFBEB;
    --color-text-yellow-100: #FEF3C7;
    --color-text-yellow-200: #FDE68A;
    --color-text-yellow-300: #FCD34D;
    --color-text-yellow-400: #FBBF24;
    --color-text-yellow-500: #F59E0B;
    --color-text-yellow-600: #D97706;
    --color-text-yellow-700: #B45309;
    --color-text-yellow-800: #92400E;
    --color-text-yellow-900: #78350F;

    --color-text-green-50: #ECFDF5;
    --color-text-green-100: #D1FAE5;
    --color-text-green-200: #A7F3D0;
    --color-text-green-300: #6EE7B7;
    --color-text-green-400: #34D399;
    --color-text-green-500: #10B981;
    --color-text-green-600: #059669;
    --color-text-green-700: #047857;
    --color-text-green-800: #065F46;
    --color-text-green-900: #064E3B;

    --color-text-blue-50: #EFF6FF;
    --color-text-blue-100: #DBEAFE;
    --color-text-blue-200: #BFDBFE;
    --color-text-blue-300: #93C5FD;
    --color-text-blue-400: #60A5FA;
    --color-text-blue-500: #3B82F6;
    --color-text-blue-600: #2563EB;
    --color-text-blue-700: #1D4ED8;
    --color-text-blue-800: #1E40AF;
    --color-text-blue-900: #1E3A8A;

    --color-text-indigo-50: #EEF2FF;
    --color-text-indigo-100: #E0E7FF;
    --color-text-indigo-200: #C7D2FE;
    --color-text-indigo-300: #A5B4FC;
    --color-text-indigo-400: #818CF8;
    --color-text-indigo-500: #6366F1;
    --color-text-indigo-600: #4F46E5;
    --color-text-indigo-700: #4338CA;
    --color-text-indigo-800: #3730A3;
    --color-text-indigo-900: #312E81;

    --color-text-purple-50: #F5F3FF;
    --color-text-purple-100: #EDE9FE;
    --color-text-purple-200: #DDD6FE;
    --color-text-purple-300: #C4B5FD;
    --color-text-purple-400: #A78BFA;
    --color-text-purple-500: #8B5CF6;
    --color-text-purple-600: #7C3AED;
    --color-text-purple-700: #6D28D9;
    --color-text-purple-800: #5B21B6;
    --color-text-purple-900: #4C1D95;

    --color-text-pink-50: #FDF2F8;
    --color-text-pink-100: #FCE7F3;
    --color-text-pink-200: #FBCFE8;
    --color-text-pink-300: #F9A8D4;
    --color-text-pink-400: #F472B6;
    --color-text-pink-500: #EC4899;
    --color-text-pink-600: #DB2777;
    --color-text-pink-700: #BE185D;
    --color-text-pink-800: #9D174D;
    --color-text-pink-900: #831843;

    /** border radius */
    --border-radius-none: 0;
    --border-radius-sm: 0.125rem;
    --border-radius: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 0.75rem;
    --border-radius-2xl: 1rem;
    --border-radius-3xl: 1.5rem;
    --border-radius-full: 9999px;
}


/** purgecss end ignore */

@tailwind components;
@tailwind utilities;